@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oleo+Script&display=swap");

:root {
    --primary-color: red;
    --secondary-color: #0055ff;
    --dark-color: #001;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: rgb(36, 150, 63);
    --yellow-color: rgb(228, 213, 0);
    --orange-color: #ff8207;
    --hover-color: #2a2f47;
    --background-color: #dde4ff;
    --grey-color: rgb(105, 105, 105);
    --dark-grey-color: rgb(28, 28, 28);
    --green-color: #007c1d;

    --text-heading: rgb(43, 43, 43);
    --text-heading2: rgb(56, 56, 56);

    --primary-font: "Nunito", sans-serif;
    --secondary-font: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    transition: all 0.3s ease;
}

*::before,
*::after {
    box-sizing: border-box;
}

.root {
    overflow-x: hidden;
}

.App {
    background-color: #f4f4f4;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden !important;
}

.font-bebas {
    font-family: "Bebas Neue", cursive !important;
}
.font-oleo {
    font-family: "Oleo Script", cursive !important;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    font-size: 1.2rem;
    font-family: Roboto, sans-serif;
}

.button--primary {
    font-size: 1.2rem;
    font-family: Roboto, sans-serif;
    padding: 0.3rem 1rem;
    border: none;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--light-color);
}
.button--secondary {
    font-size: 1.2rem;
    font-family: Roboto, sans-serif;
    padding: 0.3rem 1rem;
    border: none;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.inlineBlock {
    display: inline-block;
}

/* button:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    color: var(--light-color);
} */

/* COLOR */
.primary-color {
    color: var(--primary-color);
}

.white {
    color: #ffffff;
}

.light-grey {
    color: var(--grey-color);
}
.dark-grey {
    color: var(--dark-grey-color);
}

.heading-color {
    color: var(--text-heading);
}

.heading2-color {
    color: var(--text-heading2);
}

.green {
    color: var(--green-color);
}

/* Padding */
.p {
    padding: 0.5rem;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}
.py {
    padding: 0.5rem 0;
}
.py-1 {
    padding: 1rem 0;
}
.py-2 {
    padding: 2rem 0;
}
.py-3 {
    padding: 3rem 0;
}

/* Margin */
.m {
    margin: 0.5rem;
}
.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 2rem;
}
.m-3 {
    margin: 3rem;
}
.mx {
    margin: 0 0.5rem;
}
.mx-2 {
    margin: 0 2rem;
}
.mx-1 {
    margin: 0 1rem;
}
.my {
    margin: 0.5rem 0;
}
.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 2rem 0;
}
.my-3 {
    margin: 3rem 0;
}
.mr-1 {
    margin-right: 1rem;
}
.mr-2 {
    margin-right: 2rem;
}
.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}

.container {
    width: 100vw;
    min-height: 92vh;
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 5rem;
}

.mainTitle {
    font-weight: 400;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

/* =====SCROLL BAR========== */
/* width */
::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* FLEX STYLES */
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

/* Text Styles*/
.xxx-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.xx-large {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.x-large {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 0.8rem;
}

.medium {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 0.7rem;
}

.small {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.x-small {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.bold {
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

hr.hrdashed {
    margin: 0.7rem 0rem;
    border-top: 1px dashed var(--grey-color);
}

.textStrike {
    text-decoration: line-through;
}

.align-center {
    align-items: center;
}

/* =============PAGE================= */
.pageHeadingBox {
    width: 100vw;
    height: 10em;
    position: relative;
}

.pageHeadingBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: 0 -38rem; */
    filter: blur(1px);
}

.blackdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.53);
    z-index: 10;
}

.pageHeadingBox .pageHeading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    letter-spacing: 8px;
}

/* ===========MODAL============== */
.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 11vh;
    max-height: 85vh;
    overflow-y: scroll;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
    overflow-y: scroll;
}

@media (min-width: 1380px) {
    .modal {
        width: 80rem;
        left: calc(50% - 40rem);
        /* top: 20vh; */
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal_content {
    padding: 1rem;
}

/* ===========NAVBAR============== */
.navbar {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 5rem;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);*/
    z-index: 1000;
    font-size: 1rem;
    font-weight: 500;
}

.navbar.sticky {
    background: linear-gradient(-225deg, #e1fffe 0%, #fffeff 100%);
    /* linear-gradient(
        13deg,
        #ffc99a 0%,
        rgb(255 237 223) 51%,
        rgb(122 212 242) 100%
    ); */
    position: fixed;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-size: 1rem;
    font-weight: 500;
}

.navLogo {
    height: 90%;
}

.navLogo img {
    width: 100%;
    height: 100%;
}

.navbarLinks {
    justify-content: flex-end;
}

.navbarLinks > ul {
    display: flex;
    flex-direction: row;
}

.navList {
    margin: 0 1rem;
    padding: 0.5rem 0.8rem;
}

.navList a {
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
}

.navList a:hover,
.navList a:focus {
    color: red;
}

.navlist a:focus {
    color: white;
    background-color: red;
}

.navList a:hover,
.navList a:focus {
    color: red;
}

.hamburger {
    display: none;
    pointer-events: none;
}

.hamLines {
    width: 40px;
    height: 2px;
    border-radius: 20%;
    margin-top: 4px;
    background-color: var(--dark-color);
}

ion-icon {
    font-size: 2.5rem;
    color: black;
}

.navList .active {
    color: var(--primary-color);
}

.cart-button {
    padding: 0.3rem 1rem;
    background-color: #0000001e;
    border: none;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
}

.cart-button:hover {
    background-color: #0000003d;
}

.cart-icon ion-icon {
    font-size: 1.3rem;
}

.cart-title {
    font-size: 1rem;
}

.cart-item_count {
    background-color: #d14e5b;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 40%;
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ============LANDING=========== */

.landing {
    width: 100vw;
}

.overviewText ul li {
    list-style: circle;
    padding: 0.5rem;
}

.landingCarouselText {
    padding: 2rem;
    z-index: 15;
    position: absolute;
    top: 25%;
    left: 8%;
    color: white;
}

.landingCarouselText .head {
    display: inline-block;
    border-bottom: 2.5px solid var(--primary-color);
}

/* ===========FOOTER=============== */
.footer {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        5deg,
        rgb(56, 56, 56) 0%,
        rgb(0, 0, 0) 51%,
        rgb(54, 54, 54) 100%
    );
}

.footer .companyText {
    color: white;
    letter-spacing: 2px;
}

/* ================CAROUSEL AREA============= */

.carousel_area {
    position: relative;
    max-width: 100vw;
    height: 40em;
    overflow: hidden;
}

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.active {
    opacity: 1;
}

.slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    border: none;
    top: 50%;
    border-radius: 4px;
    z-index: 100;
    transform: translateY(-50%);
    padding: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
    font-size: 2rem;
}

.carousel-button:focus,
.carousel-button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

/* ===================PRODUCTS PAGE==================== */
.productsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.productsPageWarrentyArea {
    position: relative;
    width: 60vw;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffa800;
    color: var(--dark-color);
    border-radius: 1rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding: 1rem;
}

.productsPageWarrentyArea::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 5rem;
    height: inherit;
    background-color: #3700ff;
}

.productsPageWarrentyArea img {
    position: absolute;
    left: 0rem;
    height: 12rem;
}

.productsPageWarrentyArea p {
    font-size: 1.5rem;
    margin-left: 5rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.card {
    background-color: white;
    border-radius: 1.5rem;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23rem;
    min-height: 23rem;
    position: relative;
    border: 0.1px solid rgb(187, 187, 187);
    user-select: none;
    /* padding: 1rem; */
    /* box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1); */
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    /* transform: scale(1.01); */
}

.card_warrenty {
    position: absolute;
    width: 6rem;
    height: 6rem;
    top: -1rem;
    left: -1rem;
    transform: rotate(354deg);
    z-index: 5;
}

.card_warrenty img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pdImage {
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    background-color: #ffc477;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    width: auto;
    height: 58%;
}

.pdImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(1.6);
}

.pdDetails {
    position: absolute;
    top: 54%;
    left: 1rem;
    right: 1rem;
    width: 90%;
    margin-top: 2rem;
    /* background-color: #13007c; */
}

.pdDiv1 {
    width: 80%;
}

.pdCompany {
    font-weight: 300;
}

.pdName {
    font-weight: 400;
    width: 70%;
}

.pdDiscount {
    color: white;
    height: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
    max-width: 65px;
    background-color: var(--success-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdLatest {
    color: var(--orange-color);
    height: 1.5rem;
    max-width: 65px;
    border-radius: 0.5rem;
    font-weight: 500;
    border: 2px solid var(--orange-color);
    padding: 0.3rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_carousel_area {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pd--left {
    min-width: 440px;
    height: 50vh;
}

.pd_carousel_area {
    width: 100%;
    height: 100%;
}

.pdFeatureList li {
    list-style: disc;
}

/* ================PRODUCT MODAL===============  */
.productModalButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.pdDetails-warrenty {
    width: 7rem;
    height: 7rem;
}

.pdDetails-warrenty img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: saturate(1.5);
}

/* ==============MEDIA QUERIES=================== */

@media only screen and (max-width: 1600px) {
    .productsPageWarrentyArea p {
        margin-left: 12rem;
    }
}

@media only screen and (max-width: 1200px) {
    .productsContainer {
        grid-template-columns: 1fr 1fr;
    }

    .productsPageWarrentyArea {
        width: 80vw;
    }
}

@media only screen and (max-width: 1120px) {
    .navbar {
        justify-content: space-evenly;
    }

    .navLogo {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(-5%, -50%);
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(-5%, -50%);
        pointer-events: all;
        cursor: pointer;
        background: none;
        border: none;
        z-index: 20000;
        color: white;
    }

    .hamburger.active > ion-icon {
        color: white;
    }

    .hamburger:hover {
        background: transparent;
        transform: translate(-5%, -52%) scale(1.05);
    }

    .navbarLinks > ul {
        flex-direction: column;
        position: fixed;
        justify-content: space-around;
        align-items: center;
        height: 60vh;
        width: 100%;
        top: 0;
        left: 0;
        padding: 5rem;
        background-color: #000000ea;
        transition: all 1s ease-out;
        z-index: 100;
        pointer-events: none;
        clip-path: circle(40px at 90% -10%);
        -webkit-clip-path: circle(10px at 100% -10%);
        transition: all 1s ease-out;
    }
    .navbarLinks > ul.active {
        pointer-events: all;

        clip-path: circle(1260px at 1000% -10%);
        -webkit-clip-path: circle(1260px at 100% -10%);
    }

    .navList a {
        color: white;
    }

    .navList {
        margin-top: 1rem;
        padding: 0.5rem;
    }

    .navList:hover {
        transform: scale(1.05);
    }

    .navList a:hover {
        letter-spacing: 1.3px;
    }
}
@media only screen and (max-width: 1000px) {
    .navList {
        margin: 0 0.8rem;
        padding: 0.3rem 0.5rem;
    }
}

@media only screen and (max-width: 900px) {
    .xxx-large {
        font-size: 3.5rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
    .footer .companyText {
        letter-spacing: 1px;
    }

    /* ====Product===== */
    .productsContainer {
        grid-template-columns: auto;
    }

    .container {
        padding: 5rem 0.5rem;
    }

    .pdDetails-container {
        flex-direction: column;
    }

    .pd--left {
        min-width: 100%;
        height: 35vh;
    }

    .productsPageWarrentyArea {
        width: 80vw;
        min-height: 5rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        padding: 1rem;
    }

    .productsPageWarrentyArea img {
        position: absolute;
        left: 0rem;
        height: 10rem;
    }

    .productsPageWarrentyArea p {
        font-size: 1.2rem;
        margin-left: 10rem;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 750px) {
    .slide > img {
        object-position: 70% 0;
    }

    .navbar {
        height: 4rem;
    }

    .container {
        padding: 3rem 5rem;
    }

    .productsPageWarrentyArea {
        width: 95vw;
    }

    .productsPageWarrentyArea p {
        font-size: 1.3rem;
        margin-left: 9rem;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 500px) {
    .xxx-large {
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }

    .pageHeadingBox .pageHeading {
        letter-spacing: 3px;
        font-size: 2.5rem;
    }

    .productsPageWarrentyArea {
        padding: auto;
    }

    .productsPageWarrentyArea p {
        font-size: 1.1rem;
    }
}
